# fly.toml app configuration file generated for test-deploy-third on 2025-11-23T05:07:23Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'test-deploy-third'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 7860
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
